.product_contain {
    border-radius: 0px;
}
.product_img { //div that contains img - outer border
    border: 1px solid rgb(178, 178, 178);
    border-radius: 0px;
    width: 18rem;
    height: 60%;
    margin: -0.5rem auto;
    background-color: black;
  }
  .card-img-top { //img - inner border
    max-width: 70%;
    height: 90%;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 0;
    margin:1rem 3rem;
  }
  .btn-plus {
    color: black;
  }
