@import "/node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import "product.scss";
@import "coverPhoto.scss";
@import "cardComponent.scss";
@import "nav-bar.scss";
@import "footer.scss";
@import "registration-login.scss";
@import "shopping-cart.scss";
@import "user-info.scss";
@import "home.scss";
@import "gallery.scss";
@import "shopping-cart.scss";
@import "user-info.scss";
@import "chooseCollection.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}
