.nav-list-item {
  text-decoration: none;
  color: black;
}
.drop-down-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket-icon-nav-bar {
  font-size: 1.3rem;
}

.amount_of_products_in_basket {
  position: relative;
  padding: 4px;
  background-color: #0275d8;
  color: white;
  border-radius: 100%;
  font-size: 10px;
  left: -10px;
}

.hamburger {
  font-size: 2rem;
}

.drop-down-button:hover {
  border-radius: 0;
}
