.products_container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-flow: row wrap-reverse;
  gap: 5px;
}

.product {
  &_card {
    max-width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
  }

  &_title {
    width: 90%;
    margin: 5px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &_img {
    border: inherit;
    border-radius: inherit;
    max-width: 90% img {
      max-width: 40%;
      height: 50%;
    }
  }

  &_card_body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
    
    &_price {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    &_button {
      outline: none;
      border: none;
      background-color: inherit;

    }
  }
}

.bi-basket {
  color: black;
  font-size: 2.5rem;

  &:hover {
    color: red;
  }
}

