.login-link {
color: rgb(0, 0, 0);
text-decoration: none;
font-size: 0.8rem;
margin: 0.5rem;
}
.form-label {
    margin: 0.5rem;
}

.form-control {
    background-color: rgb(255, 255, 255);
    border-top: solid 1px rgb(0,0,0);
    border-bottom: solid 1px rgb(0,0,0);
    border-radius: 0px;
}
.login-btn {
    margin: 0.5rem;
    border-radius: 0px;
}
.form-text {
    margin: 0.1rem 0.5rem;
}
.form-check {
    margin-left: 0.5rem;
    margin-top: 1rem;
   color: rgb(129, 128, 128);
   font-size: 0.8rem;
}