.button-container-user-info {
  display: flex;
  // border: solid;
  .button-styling-user-info {
    margin: 1.2rem;
  }
}
.img-styles-user-info {
  border: solid #5cb85c;
  border-radius: 80%;
  width: 15rem;
  height: 15rem;
}
.email-text-user-info {
  margin: 2rem;
  border-bottom: solid black 1px;
}
